---
layout: page
---
<div class="container">
  <div class="list-group">
    {% for talk in site.data.talks %}
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <strong>{{ talk.number }}. {{ talk.title }}</strong>
      </div>

      <div class="d-flex w-100 justify-content-between">
        <small class="text-muted">
          <span class="fa fa-language"></span>
          {{ talk.language }}
        </small>
        <small class="text-muted">
          <span class="fa fa-calendar"></span>
          <span class=""> {{ talk.date }} </span>
        </small>
      </div>
      
      <div class="d-flex w-100 justify-content-between">
        <small class="text-muted">
          <span class="fa fa-compass"></span>
          {{ talk.place }}, {{ talk.location }}
        </small>

        <small class="text-muted">
          <span class="fa fa-link"></span>
          <a href="{{ talk.link }}">Link</a>
        </small>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
